<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('m.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" id="bootstrap-css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        {% stylesheets 'bundles/msplatform/css/homepage.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {#<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
        {#<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>#}

        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>






        {% javascripts 'assets/jquery/jquery.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {#<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    </head>
    <body>

    {#<nav class="navbar navbar-expand-lg navbar-light bg-light">#}
        {#<div class="container-fluid">#}




            {#<div class="container">#}
            {#<button type="button" id="sidebarCollapse" class="btn btn-info">#}
                {#<i class="fas fa-align-left"></i>#}
                {#<span>Toggle Sidebar</span>#}
            {#</button>#}
            {#<div class="navbar-header">#}
            {#<a class="navbar-brand" href="#">Miage Simulateur</a>#}
            {#</div>#}
            {#<div id="navbar" class="collapse navbar-collapse">#}
                {#<ul class="nav navbar-nav">#}
                    {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                        {#<p class="navbar-text">#}
                            {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}#}
                        {#</p>#}
                        {#<li>#}
                            {#<a href="{{ path('fos_user_security_logout') }}">#}
                                {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
                            {#</a>#}
                        {#</li>#}
                    {#{% else %}#}
                        {#<li>#}
                            {#<a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
                        {#</li>#}
                    {#{% endif %}#}
                {#</ul>#}
            {#</div><!--/.nav-collapse -->#}
            {#</div>#}
















            {#<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
            {#<i class="fas fa-align-justify"></i>#}
            {#</button>#}

            {#<div class="collapse navbar-collapse" id="navbarSupportedContent">#}
            {#<ul class="nav navbar-nav ml-auto">#}
            {#<li class="nav-item active">#}
            {#<a class="nav-link" href="#">Page</a>#}
            {#</li>#}
            {#<li class="nav-item">#}
            {#<a class="nav-link" href="#">Page</a>#}

            {#<li class="nav-item">#}{##}{#</li>#}
            {#<a class="nav-link" href="#">Page</a>#}
            {#</li>#}
            {#<li class="nav-item">#}
            {#<a class="nav-link" href="#">Page</a>#}
            {#</li>#}
            {#</ul>#}
            {#</div>#}
        {#</div>#}
    {#</nav>#}









    {#<!-- Static navbar -->#}
    {#<nav class="navbar navbar-default navbar-fixed-top">#}
        {#<div class="container">#}
            {#<div class="navbar-header">#}
                {#<a class="navbar-brand" href="#">Miage Simulateur</a>#}
            {#</div>#}
            {#<div id="navbar" class="collapse navbar-collapse">#}
                {#<ul class="nav navbar-nav navbar-right">#}
                    {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
                        {#<p class="navbar-text">#}
                            {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}#}
                        {#</p>#}
                        {#<li>#}
                            {#<a href="{{ path('fos_user_security_logout') }}">#}
                                {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
                            {#</a>#}
                        {#</li>#}
                    {#{% else %}#}
                        {#<li>#}
                            {#<a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
                        {#</li>#}
                    {#{% endif %}#}
                {#</ul>#}
            {#</div><!--/.nav-collapse -->#}
        {#</div>#}
    {#</nav>#}

    {#<div class="container">#}
        {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
            {#<li>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</li>#}
            {#<li><a href="{{ path('fos_user_security_logout') }}">#}
                {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
            {#</a></li>#}
        {#{% else %}#}
            {#<li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>#}
        {#{% endif %}#}
    {#</div>#}
    {#<h1>You're in the global homepage</h1>#}
    {#<nav class="navbar navbar-expand-lg navbar-light bg-light">#}
        {#{% if is_granted('ROLE_USER') %}#}
            {#<a class="navbar-brand" href="{{ path('fos_user_security_logout') }}">Logout</a>#}
        {#{% endif %}#}
        {#{% if is_granted('ROLE_USER') %}#}
        {#<li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>#}
        {#{% else %}#}

            {#<h4>Si vous n'avez pas encore de compte : </h4>#}
            {#<p><a href="{{ path('fos_user_registration_register') }}" class="btn ">Je m'inscris !</a></p>#}
            {#<li><a href="{{ path('fos_user_security_login') }}">Login</a></li>#}
        {#{% endif %}#}
    {#</nav>#}
    {#<h2>Présentation du site</h2>#}
    {#<p>Rejoignez nous, parce que ceci cela...etc ! </p>#}
    {#<p><a href="{{ path('fos_user_registration_register') }}" class="btn ">Je m'inscris !</a></p>#}


    {% block body %}
    {% endblock %}
    </body>
</html>

