{% extends "@MSPlatform/layout.html.twig" %}
{% block body_forum %}

    {% trans_default_domain 'FOSUserBundle' %}

    {#{% if app.request.hasPreviousSession %}#}
        {#<p class="felicitation">{{ 'registration.confirmed'}}</p>#}
    {#{% endif %}#}
    {#{% for msg in app.session.flashBag.get('success') %}#}
        {#<div class="alert alert-success">#}
            {#{{ msg }}#}
        {#</div>#}
    {#{% endfor %}#}

    {#{% if app.request.hasPreviousSession %}#}
        {#{% for type, messages in app.session.flashbag.all() %}#}
            {#{% for message in messages %}#}
                {#<div class="flash-{{ type }}">#}
                    {#{{ message }}#}
                {#</div>#}
            {#{% endfor %}#}
        {#{% endfor %}#}
    {#{% endif %}#}


    <div class="form-signin">
        <h1>Formulaire d'Inscription</h1>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" class="btn btn-info" value="{{ 'registration.submit'|trans }}" />
        </div>
        {{ form_end(form) }}
    </div>

    <script>
        $("document").ready(function(){
            var student = $("#fos_user_registration_form_roles_2");
            var admin =  $('#fos_user_registration_form_roles_0');
            var teacher = $('#fos_user_registration_form_roles_1');

            admin.on('change', function(){
                if ($(this).is(':checked')) {
                    student.prop('disabled', true);
                } else if (!$(this).is(':checked')) {
                    student.prop('disabled', false);
                }
            });

            student.bind('change', function(){
                if ($(this).is(':checked')) {
                   admin.prop('disabled', true);
                   teacher.prop('disabled', true);
                } else if (!$(this).is(':checked')) {
                    admin.prop('disabled', false);
                    teacher.prop('disabled', false);
                }
            });

            teacher.bind('change', function(){
                if ($(this).is(':checked')) {
                    student.prop('disabled', true);
                } else if (!$(this).is(':checked')) {
                    student.prop('disabled', false);
                }
            });
        })
    </script>


{% endblock body_forum %}








{% block stylesheets %}
    <style>
        body {
            background-color: #eee;
        }
        .form-signin {
            max-width: 404px;
        }
        .form-signin .checkbox {
            font-weight: normal;
        }
        .form-signin .form-control {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}