{% extends "base.html.twig" %}

{% block title %}Miage Simulation{% endblock %}

{% block body %}


    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="navbar-header">
                       <h3>Miage Simulateur</h3>
                </div>
            </div>

            <ul class="list-unstyled components">
                <br>
                {% if is_granted("ROLE_ADMIN") %}
                <li>
                    <a href="{{ path('ms_admin_homepage') }}">Acceuil</a>
                </li>
                <li>
                    <a href="{{ path('ms_admin_university') }}">Filières</a>
                </li>
                <li>
                    <a href="{{ path('ms_admin_university_subject') }}">Matières</a>
                </li>
                <li>
                    <a href="{{ path('ms_admin_teachers') }}">Professeurs</a>
                </li>
                <li>
                    <a href="{{ path('ms_admin_students') }}">Etudiants</a>
                </li>
                {% elseif is_granted("ROLE_TEACHER") %}
                <li>
                    <a href="{{ path('ms_teacher_homepage') }}">Acceuil</a>
                </li>
                <li>
                    <a href="{{ path('ms_teacher_show_student') }}">Ajout de Notes</a>
                </li>
                <li>
                    <a href="{{ path('ms_teacher_edit_student') }}">Modification de Notes</a>
                </li>
                {% elseif is_granted("ROLE_STUDENT") %}
                <li>
                    <a href="{{ path('ms_student_homepage') }}">Acceuil</a>
                </li>
                <li>
                    <a href="{{ path('ms_student_simulation') }}">Simulation</a>
                </li>
                <li>
                    <a href="{{ path('ms_student_get_grades') }}">Consultations des Notes</a>
                </li>
                {% endif %}
                <li>
                    <a href="{{ path('fos_user_profile_show') }}">Profil</a>
                </li>
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                        <div class="navbar-header">
                            <p class="navbar-text">
                                <button type="button" id="sidebarCollapse" class="btn btn-info">
                                    <i class="fas fa-align-left"></i>
                                </button>
                            </p>
                        </div>
                        <div id="navbar" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <p class="navbar-text">
                                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.firstname|capitalize }, 'FOSUserBundle') }}
                                </p>
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                </li>
                            {% endif %}
                            </ul>
                        </div><!--/.nav-collapse -->
                </div>
            </nav>

            {% block body_forum %}

            {% endblock %}

        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>


{% endblock %}

