{% extends "@MSPlatform/layout.html.twig" %}

{% block title %}{{ parent() }} - Teacher{% endblock %}

{% block body_forum %}
    <div class="container">
        <div class="row"><h1>Voici la page de l'enseignant</h1></div>
        <div class="row">
            <h3 class="col-md-offset-4 col-md-4">Bonjour {{ teacher.name }} -
                {% for subject in teacher.subjects %}
                    {{ subject.name}}
                    <p class="subject" hidden>{{subject.id}}</p>
                    {% for course in subject.courses %}
                        {{ course.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endfor %}
            </h3>

        </div>

        <div class="row">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li><a href="#add_grade" data-toggle="tab">Ajout des notes</a></li>
                    <li><a href="#edit_grade" data-toggle="tab">Notes ajoutées</a></li>
                    <li><a href="#profil" data-toggle="tab">Profil</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade" id="add_grade">
                        <div class="col-md-offset-2 col-md-8 result_add"></div>
                        {% include '@MSPlatform/Teacher/addGrades.html.twig' %}
                    </div>
                    <div class="tab-pane fade" id="edit_grade">
                        <div class="col-md-offset-2 col-md-8 result_edit"></div>
                        {% include '@MSPlatform/Teacher/editGrades.html.twig' %}
                    </div>
                    <div class="tab-pane fade" id="profil">Default 3</div>
                </div>
            </div>
        </div>
        </div>
    </div>

    {% stylesheets 'bundles/msplatform/css/homepage.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

